.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.front {
  background: gold;
}
.back {
  background: crimson;
}

.scorojoeuurs {
  padding: 10px;
  background: crimson;
}
